<div class="elevator" >
    <div class="elevator-box">
      <div class="floor-indicator" [style.bottom.px]="currentFloor*25">
        {{ currentFloor }}
      </div>
      <div class="elevator-doors">
        <div class="down-arrow" *ngIf="currentFloor > 1" (click)="goToFloor(currentFloor - 1)">
          &darr;
        </div>
        <div class="up-arrow" *ngIf="currentFloor < totalFloors" (click)="goToFloor(currentFloor + 1)">
          &uarr;
        </div>
      </div>
    </div>
  </div>
  
