.Currentfloor
{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 150px;
    height: 250px;
    border: 1px solid #000;
}
.ele-system
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.elevator {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
  }
  
  .elevator-box {
    position: relative;
    width: 150px;
    height: 250px;
    border: 1px solid #000;
  }
  
  .floor-indicator {
    position: absolute;
    /* top: 0; */
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #f0f0f0;
    height: calc(100% / var(--total-floors));
    font-weight: bold;
  }
  
  .elevator-doors {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 200px; */
    height: calc(100% - var(--floor-indicator-height));
  }
  
  .up-arrow,
  .down-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
  }
  
  .up-arrow {
    margin-right: 10px;
  }
  
  .down-arrow {
    margin-left: 10px;
  }

  .door {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: #ccc;
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
  }
  
  .door-left,
  .door-right {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: #ccc;
  }
  
  .door-left {
    left: 0;
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
  }
  
  .door-right {
    right: 0;
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
  }
  
  
  
  .open {
    transform: rotateY(90deg);
  }
  
  .open .door-left {
    transform: rotateY(-90deg);
  }
  
  .open .door-right {
    transform: rotateY(90deg);
  }
  
  